<!DOCTYPE html>
<html>
<head>
  <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <h1>Hehe</h1>
  <form id="formSubmit" method="post" action="/query">
    <textarea name="query1" placeholder="query1, query1"></textarea><br>
    <textarea name="query2" placeholder="query2,query2"></textarea><br>
    <input type="submit" value="Submit">
  </form>

  <script>
    $(document).ready(function () {
      $("#formSubmit").submit(function(event) {
        event.preventDefault();
        var $form = $(this);
        var url = $form.attr('action');
        var posting = $.post(url, $form.serialize());
        posting.done(function(msg) {
          alert(msg);
        });
        posting.fail(function() {
          alert("Error in transaction");
        });
      });
    });
  </script>
</body>
</html>
