<!DOCTYPE html>
<html>
<head>
  <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <h1>Hehe</h1>
  <form id="formSubmit" method="post" action="/query">
    <textarea id="query1" name="query1" placeholder="query1, query1"></textarea><br>
    <textarea id="query2" name="query2" placeholder="query2,query2"></textarea><br>
    <input type="submit" value="Submit">
  </form>

  <button id="ping">PING</button>


  <script>
    $(document).ready(function () {
      $("#formSubmit").submit(async function(event) {
          event.preventDefault();
          let url = $(this).attr('action');
          let textQuery = $('#query1').val();
          let queries = textQuery.split(';');
          console.log(textQuery, queries);
          for (i = 0; i < queries.length; i++){
            queries[i] = queries[i].trim();
            if(queries[i] === "")
              delete queries[i];
          }

          try{
            let { data } = await axios.post(url, {queries});
            console.log(data);
            alert(data);
          }
          catch(e){
            console.error(e);
            alert(e);
          }
      });

      $("button").click(function(){
        $.get("/ping", function(data, status){
          alert(data);
        });
      });
    });
  </script>
</body>
        {{!-- var $form = $(this);
        var url = $form.attr('action');
        var posting = $.post(url, $form.serialize());
        posting.done(function(msg) {
          alert(msg);
        });
        posting.fail(function() {
          alert("Error in transaction");
        }); --}}

</html>
