<!DOCTYPE html>
<html>
<head>
  <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <button class="tablink" onclick="openPage('singleTrans', this, '#3498db')" id="defaultOpen">Single Transaction</button>
  <button class="tablink" onclick="openPage('multiTrans', this, '#2ecc71')">Multiple Transactions</button>

  <div id="singleTrans" class="tabcontent">
    <button class="ping">PING</button><br>
    <form id="formSingle" method="post" action="/query">
      <input type="submit" value="Submit">
      <div style="display:flex">
        <textarea id="querySingle" name="querySingle"></textarea><br>
        <select id="nodeSingle" name="nodeSingle">
          <option value="central">Central</option>
          <option value="l1980">L1980</option>
          <option value="ge1980">GE1980</option>
        </select>
        <select id="isoLevelSingle" name="isoLevelSingle">
          <option value="READ UNCOMMITTED">Read Uncommitted</option>
          <option value="READ COMMITTED">Read Committed</option>
          <option value="REPEATABLE READ">Repeatable Read</option>
          <option value="SERIALIZABLE">Serializable</option>
        </select>
      </div>
    </form>
  </div>

  <div id="multiTrans" class="tabcontent">
    <button class="ping">PING</button>
    <button id="addTransaction">+</button>
    <button id="subTransaction">-</button>
    <form id="formMulti" method="post" action="/query">
      <input type="submit" value="Submit">
      <div id="transMulti0" style="display:flex">
        <textarea id="queryMulti0" name="queryMulti0"></textarea><br>
        <select id="nodeMulti0" name="nodeMulti0">
          <option value="central">Central</option>
          <option value="l1980">L1980</option>
          <option value="ge1980">GE1980</option>
        </select>
        <select id="isoLevelMulti0" name="isoLevelMulti0">
          <option value="READ UNCOMMITTED">Read Uncommitted</option>
          <option value="READ COMMITTED">Read Committed</option>
          <option value="REPEATABLE READ">Repeatable Read</option>
          <option value="SERIALIZABLE">Serializable</option>
        </select>
      </div>
    </form>
  </div>

  <script>
    $(document).ready(function () {
      $("#formSingle").submit(async function(event) {
          event.preventDefault();
          let url = /*IPADD + */$(this).attr('action');
          let textQuery = $('#querySingle').val();
          let node = $('#nodeSingle').val();
          let isolationLevel = $('#isoLevelSingle').val();
          let queries = textQuery.split(';');
          for (i = 0; i < queries.length; i++){
            queries[i] = queries[i].trim();
            if(queries[i] === "")
              queries = queries.splice(0,i).concat(queries.splice(i));
          }
          try{
            let { data } = await axios.post(url, {node, isolationLevel, queries});
            console.log(data);
            alert(data);
          }
          catch(e){
            console.error(e);
            alert(e);
          }
      });

      $("#formMulti").submit(async function(event) {
          event.preventDefault();
          let url = /*IPADD + */$(this).attr('action');
          for (j = 0; j < cnt; j++) {
            let textQuery = $('#queryMulti' + j).val();
            let node = $('#nodeMulti' + j).val();
            let isolationLevel = $('#isoLevelMulti' + j).val();
            let queries = textQuery.split(';');
            for (i = 0; i < queries.length; i++){
              queries[i] = queries[i].trim();
              if(queries[i] === "")
                queries = queries.splice(0,i).concat(queries.splice(i));
            }
            try{
              let { data } = await axios.post(url, {node, isolationLevel, queries});
              console.log(data);
              alert(data);
            }
            catch(e){
              console.error(e);
              alert(e);
            }
          }
      });

      $(".ping").click(function(){
        $.get("/ping", function(data, status){
          alert(data);
        });
      });

      var cnt = 1;
      $("#addTransaction").click(function() {
        var newTrans = '<div id="transMulti' + cnt + '" style="display:flex"><textarea id="queryMulti' + cnt + '" name="queryMulti' + cnt + '"></textarea><br><select id="nodeMulti' + cnt + '" name="nodeMulti' + cnt + '"><option value="central">Central</option><option value="l1980">L1980</option><option value="ge1980">GE1980</option></select><select id="isoLevelMulti' + cnt + '" name="isoLevelMulti' + cnt +'"><option value="readuncommitted">Read Uncommitted</option><option value="readcommitted">Read Committed</option><option value="repeatableread">Repeatable Read</option><option value="serializable">Serializable</option></select></div>';
        $('#multiTrans').append(newTrans);
        cnt++;
      });

      $("#subTransaction").click(function() {
        $("#transMulti" + (cnt - 1)).remove();
        cnt--;
      });

    });

    function openPage(pageName, elmnt, color) {
      // Hide all elements with class="tabcontent" by default */
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      // Remove the background color of all tablinks/buttons
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "";
      }

      // Show the specific tab content
      document.getElementById(pageName).style.display = "block";

      // Add the specific color to the button used to open the tab content
      elmnt.style.backgroundColor = color;
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
  </script>
</body>
        {{!-- var $form = $(this);
        var url = $form.attr('action');
        var posting = $.post(url, $form.serialize());
        posting.done(function(msg) {
          alert(msg);
        });
        posting.fail(function() {
          alert("Error in transaction");
        }); --}}

</html>
